<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580134232683-n0n73bqm92f218orrumsjhpbteepv0eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580134232683-n0n73bqm92f218orrumsjhpbteepv0eq</string>
	<key>API_KEY</key>
	<string>AIzaSyAGxx0i1OPqdSGn5oKUD4dqNcRl_212fn4</string>
	<key>GCM_SENDER_ID</key>
	<string>580134232683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.food</string>
	<key>PROJECT_ID</key>
	<string>iosappnhakhoa</string>
	<key>STORAGE_BUCKET</key>
	<string>iosappnhakhoa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580134232683:ios:432fb8b968aa560f0e072e</string>
</dict>
</plist>